.container1 {
   width: 100vw;
   background-image:  url("/assets/20180526_ADMIN_FLOW_PROOFS_742-Edit.jpg");
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
 }
  
  .hero-container h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
    font-size: 55px;
    text-align: left;
    margin-left: 90px;
    padding-top: 150px;
  }

  .hero-container p {
    color: black;
    font-size: 25px;
    text-align: left;
    margin-left: 275px;
    padding-top: 15px;
    margin-bottom:0;
    padding-bottom: 150px;
  }

  @media only screen and (max-width: 1000px) {
    .hero-container p {
      margin-left: 30px;
    }
    .container1 {
      height: 300px;
    }
    
    .hero-container h1 {
      font-size: 50px;
      margin: 0;
      padding: 0;
      margin-left: 30px;
    }
    
  }
  
  @media only screen and (max-width: 856px) {
    .hero-container p {
      margin-left: 30px;
    }
    .container1 {
      height: 300px;
    }
    
    .hero-container h1 {
      font-size: 45px;
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: 500px) {
    .hero-container p {
      margin-left: 10px;
      font-size: 20px;
    }

    .hero-container h1 {
      font-size: 30px;
      margin-left: 10px;
    }
  }