.navbar {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.048);
}

.navbar-link a {
  color: black;
  text-decoration: none;
  padding: 0px 7px;
  font-size: 20px; 
}


.navbar-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  float: right;
  font-size: 30px;
  margin-right: 15px;
  margin-top: 15px;
}

.navbar-logo {
height: 70px;
display: flex;
float: left;
justify-content: center;
align-items: center;
margin-left: 15px;
}

.navbar-link a:hover {
  transform: scale 1.1;
}

.ham {
  display: none;
  font-size: 25px;
}

.menu {
  display: none;
  background: var(--light-coral);
  margin-left: -150px;
  position: absolute;
  padding: 50px;
}

.menu a
{
  padding: 10px 0;
  font-size: 25px;
}

.menu li {
  padding: 0 10px 0 0;
}

.menu ul {
  list-style-type: none;
  margin: 0 0 3px 0;
}

#button {
  display: none;
  height: 40px;
  width: 40px;
}

#button a {
  margin-bottom: 10px;
}

#button label span {
  display: block;
}

#button input:checked + span + .menu {
  display: block;
}

#button label input {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  #button{ 
    display: block; 
    float: right;
    margin-top: 25px;
    margin-right: 10px;
  }
}

