.socials {
  height: 100px;
  background-color: var(--green-trans2);
  text-decoration: none;
}

.socials-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.socials-link {
  color: var(--light-coral);
  font-size: 35px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-link a { 
  color: var(--light-coral); 
}